<aside class="menu">
  <p class="menu-label">
    SETTINGS
  </p>
  <ul class="menu-list">
    <li><a class="{{request.matchesRoute('/settings/account') ? 'is-active':''}}" href="{{route('settings.account')}}" style="text-decoration:none">Edit account</a></li>
    <li><a class="{{request.matchesRoute('/settings/password') ? 'is-active':''}}" href="{{route('settings.password')}}" style="text-decoration:none">Change password</a></li>
  </ul>
</aside>
